<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Sample</title>
    </head>
    <body>
    	<div layout:fragment="content">
    
    <div class="single-sample-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-offset-1 col-md-4">
                    <div class="sample-content-right">
                        <div class="sample-breadcroumb">
                            <a href="" th:href="@{/}">Home</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-8">
                                <div class="subject-inner">
                                    <h2 class="sample">Samples</h2>
                                    <div class="box-body table-responsive no-padding">

                                            <table class="table table-hover"  th:object="${sample}" >
                                                <tr>
                                                    <th style="width: 10px">#</th>
                                                    <th>Timestamp</th>
                                                    <th>Email</th>
                                                    <th>Sample</th>
                                                    <th>Category</th>
                                                    <th>Tests available</th>
                                                </tr>
                                                <tr  th:each="sample,iterStat : ${sample}">
                                                    <td th:text="${iterStat.count}">1</td>
                                                    <td th:text="${sample.timestamp}"> Date</td>
                                                    <td th:text="${sample.subject.email}">Subject email</td>
                                                    <td th:text="${sample.samples}">Sample</td>
                                                    <form th:action="@{/analyze_category(sample_id=${sample.id},category_id=${sample.category.id})}" th:object="${result}" method="post">
                                                        <td> <button type="submit" class="btn btn-primary" th:text="${sample.category.name}">Category</button></td>
                                                    </form>
                                                        <td th:each="test : ${sample.category.tests}">
                                                            <form th:action="@{/analyze(sample_id=${sample.id},test_id=${test.id})}" th:object="${result}" method="post">
                                                               <button type="submit" class="btn btn-primary" th:text="${test.name}">Category</button>
                                                            </form>
                                                        </td>

                                                </tr>
                                            </table>

                                    </div>


                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
  </body>
</html>