<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">

<head>
	  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
	  <script type="text/javascript">
		  /*<![CDATA[*/
		  google.charts.load('current', {'packages':['corechart']});
		  google.charts.setOnLoadCallback(drawVisualization);
		  google.charts.setOnLoadCallback(drawVisualization2);
		  google.charts.setOnLoadCallback(drawVisualization3);

		  function drawVisualization() {
			  // Some raw data (not necessarily accurate)

				//var tables=document.getElementById("tables");
			  var size = 200;
			  for (var t = 1; t < size; t++) {
				  var table = document.getElementById("datatable");
				  var n = table.rows.length;
				  //parcurgere tabel
				  var tableRows = [];
				  var tableColumns = [];
				  tableColumns.push("X2-value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  for (var c = 0; c < m; c++) {
						  if (c == 1) {
							  var numeSubject = table.rows[r].cells[c].innerHTML;
							  tableColumns.push(numeSubject);
						  }
					  }
				  }
				  tableRows.push(tableColumns);
				  var tableColumns = [];
				  tableColumns.push("x2_value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  var p_val;
					  var low;
					  var high;
					  for (var c = 0; c < m; c++) {
						  if (c == 2) {
							  p_val = parseFloat(table.rows[r].cells[c].innerHTML);
							  tableColumns.push(p_val);
						  }

					  }

				  }
				  tableRows.push(tableColumns);
				  //

				  var data = google.visualization.arrayToDataTable(tableRows);

				  var options = {
					  title: 'X2_value by Subject',
					  vAxis: {title: 'X2-value'},
					  hAxis: {title: 'Subject'},
					  seriesType: 'bars',
					  series: {5: {type: 'line'}}
				  };

				  var chart = new google.visualization.ComboChart(document.getElementById('line_top_x'));
				  chart.draw(data, options);
			  }

		  }

		  function drawVisualization2() {
			  // Some raw data (not necessarily accurate)

			  //var tables=document.getElementById("tables");

				  var table = document.getElementById("stats_datatable");
				  var n = table.rows.length;
				  //parcurgere tabel
				  var tableRows = [];
				  var tableColumns = [];
				  tableColumns.push("X2-value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  for (var c = 0; c < m; c++) {
						  if (c == 1) {
							  var numeSubject = table.rows[r].cells[c].innerHTML;
							  tableColumns.push(numeSubject);
						  }
					  }
				  }
				  tableRows.push(tableColumns);
				  var tableColumns = [];
				  tableColumns.push("x2_value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  var p_val;
					  for (var c = 0; c < m; c++) {
						  if (c == 2) {
							  p_val = parseFloat(table.rows[r].cells[c].innerHTML);
							  tableColumns.push(p_val);
						  }

					  }
				  }
				  tableRows.push(tableColumns);
				  //

				  var data = google.visualization.arrayToDataTable(tableRows);

				  var options = {
					  title: 'X2_value by Tests',
					  vAxis: {title: 'X2-value'},
					  hAxis: {title: 'Test'},
					  seriesType: 'bars',
					  series: {5: {type: 'line'}}
				  };

				  var chart = new google.visualization.ComboChart(document.getElementById('stats_datatable'));
				  chart.draw(data, options);


		  }
		  function drawVisualization3() {
			  // Some raw data (not necessarily accurate)

			  //var tables=document.getElementById("tables");
				  var table = document.getElementById("stats_datatable2");
				  var n = table.rows.length;
				  //parcurgere tabel
				  var tableRows = [];
				  var tableColumns = [];
				  tableColumns.push("X2-value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  for (var c = 0; c < m; c++) {
						  if (c == 1) {
							  var numeSubject = table.rows[r].cells[c].innerHTML;
							  tableColumns.push(numeSubject);
						  }
					  }
				  }
				  tableRows.push(tableColumns);
				  var tableColumns = [];
				  tableColumns.push("x2_value")
				  for (var r = 1; r < n; r++) {
					  var m = table.rows[r].cells.length;
					  var p_val;
					  for (var c = 0; c < m; c++) {
						  if (c == 2) {
							  p_val = parseFloat(table.rows[r].cells[c].innerHTML);
							  tableColumns.push(p_val);
						  }

					  }
				  }
				  tableRows.push(tableColumns);
				  //

				  var data = google.visualization.arrayToDataTable(tableRows);

				  var options = {
					  title: 'X2_value Overall',
					  vAxis: {title: 'X2-value'},
					  hAxis: {title: 'Test'},
					  seriesType: 'bars',
					  series: {5: {type: 'line'}}
				  };

				  var chart = new google.visualization.ComboChart(document.getElementById('stats_datatable2'));
				  chart.draw(data, options);


		  }

		  /*]]>*/
	  </script>
	<title>Category</title>
</head>
    <body onload='drawVisualization();'>
    	<div layout:fragment="content">
    		<div class="single-subject-area">
		        <div class="zigzag-bottom"></div>
		        <div class="container">
		        	
		            <div class="row">
		            	<div class="woocommerce-info"> 
		            		<a href="" th:href="@{/}">Home</a> /
		                    <a href="" th:href="@{/categories/{name}(name=${category.name})}" 
		                    	th:text="${category.name}">Category Name</a>
		                 </div>
					</div>
					<div class="row">

						<div class="woocommerce-info">
							<table class="table table-hover" id="stats_datatable">
								<tr>
									<th style="width: 10px">#</th>
									<th>Test Name</th>
									<th>X2-value</th>
								</tr>
								<tr th:each="result,iterStat : ${statistics}">
									<td th:text="${iterStat.count}">1</td>
									<td th:text="${result.y.name}">Test Name</td>
									<td th:text="${result.x}">X2-value</td>
								</tr>
							</table>
						</div>

					</div>

					<div class="row">

						<div class="woocommerce-info">
							<table class="table table-hover" id="stats_datatable2">
								<tr>
									<th style="width: 10px">#</th>
									<th>Test Name</th>
									<th>X2-value</th>
								</tr>
								<tr th:each="result,iterStat : ${overall_stats}">
									<td th:text="${iterStat.count}">1</td>
									<td th:text="${result.y}">Good</td>
									<td th:text="${result.x}">X2-value</td>
								</tr>
							</table>
						</div>

					</div>
					<div class="row">
						<div class="box-body table-responsive no-padding" th:each="sample : ${category.samples}" >
							<!--<h2><a href="#" th:href="@{/tests/{name}(name=${test.name})}"-->
								   <!--th:text="${test.name}">Tests name</a></h2>-->

							<table class="table table-hover" id="datatable">
								<tr>
									<th style="width: 10px">#</th>
									<th>Subject</th>
									<th>X2-value</th>
									<th>Low</th>
									<th>High</th>
									<th>Test Name</th>
									<th>Sample</th>
								</tr>
								<tr th:each="result,iterStat : ${sample.results}">
									<td th:text="${iterStat.count}">1</td>
									<td th:text="${result.sample.subject.email}"> Subject Name</td>
									<td th:text="${result.p_value}">X2-value</td>
									<td th:text="${result.low}">Low Value</td>
									<td th:text="${result.high}">High Value</td>
									<td th:text="${result.test.name}">Test Name</td>
									<td th:text="${result.sample.samples}">Sample</td>
								</tr>
							</table>
						</div>
						<div id="line_top_x"></div>
					</div>

					<div class="row">

						<div class="woocommerce-info">
							<a href="" th:href="@{/subjects}">Subjects</a>
						</div>
					</div>





		            
		        </div>
		    </div>
    	</div>
    	
    </body>
    
</html>