<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Category</title>
    </head>
    <body>
    	<div layout:fragment="content">
    		<div class="single-subject-area">
		        <div class="zigzag-bottom"></div>
		        <div class="container">
		        	
		            <div class="row">
		            	<div class="woocommerce-info"> 
		            		<a href="" th:href="@{/}">Home</a> /
		                    <a href="" th:href="@{/categories/{name}(name=${category.name})}" 
		                    	th:text="${category.name}">Category Name3</a>
		                 </div>
		                <div class="col-md-3 col-sm-6" th:each="test : ${category.tests}">
		                    <div class="single-test">
		                        <h2><a href="#" th:href="@{/tests/{name}(name=${test.name})}"
		                        		th:text="${test.name}">Tests name</a></h2>

		                    </div>
		                </div>
					</div>

					<div class="row">

						<div class="woocommerce-info">
							<a href="" th:href="@{/subjects}">Subjects</a>
						</div>
					</div>



		            
		        </div>
		    </div>
    	</div>
    	
    </body>
    
</html>