<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Home</title>
    </head>
    <body>
    	<div layout:fragment="content">
    		<div class="single-subject-area">
		        <div class="zigzag-bottom"></div>
		        <div class="container">
					<div class="row">
						<h2>Categories</h2>
							<div class="col-md-3 col-sm-6" th:each="cat : ${categories}">
								<div class="woocommerce-info">
									<a class="" th:href="@{/categories/{name}(name=${cat.name})}"
										th:text="${'Category: '+cat.name}">Test Category Name</a>
								</div>
							</div>
					</div>
					<div class="row">
						<h2>Tests</h2>
						<div class="col-md-3 col-sm-6" th:each="test : ${tests}">
							<div class="woocommerce-info">
								<a href="#" th:href="@{/tests/{name}(name=${test.name})}"
									   th:text="${test.name}">Test Name</a>
							</div>
						</div>
					</div>
					<div class="row">
						<h2>Subjects</h2>
						<div class="col-md-3 col-sm-6">
							<div class="woocommerce-info">
								<a href="" th:href="@{/subjects}">Subjects</a>
							</div>
						</div>
		            </div>
		        </div>
		    </div>
    	</div>
    	
    </body>
    
</html>