<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
          <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
          <script type="text/javascript">
              /*<![CDATA[*/
              google.charts.load('current', {'packages':['corechart']});
              google.charts.setOnLoadCallback(drawVisualization);

              function drawVisualization() {
                  // Some raw data (not necessarily accurate)

                  //var tables=document.getElementById("tables");
                  var size = 5;
                  for (var t = 1; t < size; t++) {
                      var table = document.getElementById("datatable");
                      var n = table.rows.length;
                      //parcurgere tabel
                      var tableRows = [];
                      var tableColumns = [];
                      tableColumns.push("X2-value")
                      for (var r = 1; r < n; r++) {
                          var m = table.rows[r].cells.length;
                          for (var c = 0; c < m; c++) {
                              if (c == 1) {
                                  var numeSubject = table.rows[r].cells[c].innerHTML;
                                  tableColumns.push(numeSubject);
                              }
                          }
                      }
                      tableRows.push(tableColumns);
                      var tableColumns = [];
                      tableColumns.push("X2-value")
                      for (var r = 1; r < n; r++) {
                          var m = table.rows[r].cells.length;
                          var p_val;
                          var low;
                          var high;
                          for (var c = 0; c < m; c++) {
                              if (c == 2) {
                                  p_val = parseFloat(table.rows[r].cells[c].innerHTML);
                                  tableColumns.push(p_val);
                              }
                              if (c == 3) {
                                  low = parseFloat(table.rows[r].cells[c].innerHTML);
                              }
                              if (c == 4) {
                                  high = parseFloat(table.rows[r].cells[c].innerHTML);
                              }
                          }
                          if (p_val > low) {
                              if (p_val < high) {
                                  table.rows[r].style.backgroundColor = "#98FB98";
                              } else {
                                  table.rows[r].style.backgroundColor = "#FA8072";

                              }
                          } else {
                              table.rows[r].style.backgroundColor = "#FA8072";
                          }
                      }
                      tableRows.push(tableColumns);
                      //

                      var data = google.visualization.arrayToDataTable(tableRows);

                      var options = {
                          title: 'X2-value by Subject',
                          vAxis: {title: 'X2-value'},
                          hAxis: {title: 'Subject'},
                          seriesType: 'bars',
                          series: {5: {type: 'line'}}
                      };

                      var chart = new google.visualization.ComboChart(document.getElementById('line_top_x'));
                      chart.draw(data, options);
                  }

              }
              /*]]>*/
          </script>
        <title>Sample</title>
    </head>
    <body>
    	<div layout:fragment="content">
    
    <div class="single-sample-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-offset-2 col-md-8">
                    <div class="sample-content-right">
                        <div class="sample-breadcroumb">
                            <a href="" th:href="@{/}">Home</a>
                        </div>

                        <div class="row">
                            <div class="col-sm-6">
                                <div class="subject-inner">
                                    <h2 class="sample">Samples</h2>
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Timestamp</th>
                                                <th>Email</th>
                                                <th>Sample</th>
                                                <th>Category</th>
                                            </tr>
                                            <tr th:each="sample,iterStat : ${samples}">
                                                <td th:text="${iterStat.count}">1</td>
                                                <td th:text="${sample.timestamp}"> Date</td>
                                                <td th:text="${sample.subject.email}">Subject email</td>
                                                <td th:text="${sample.samples}">Sample</td>
                                                <td th:text="${sample.category.name}">Category</td>
                                                <td><a th:href="@{/analyze(id=${sample.id})}"
                                                       class="btn btn-sm btn-default"><i class="fa fa-edit"></i>
                                                    Analyze</a></td>
                                            </tr>


                                        </table>
                                    </div>


                                    
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <div class="subject-inner">
                                    <h2 class="sample">Samples</h2>
                                    <div class="box-body table-responsive no-padding">
                                        <table class="table table-hover" id="datatables">
                                            <tr>
                                                <th style="width: 10px">#</th>
                                                <th>Subject</th>
                                                <th>X2-value</th>
                                                <th>Low</th>
                                                <th>High</th>
                                                <th>Test Name</th>
                                                <th>Sample</th>
                                            </tr>
                                            <tr th:each="sample : ${samples}">
                                                <tr th:each="result,iterStat : ${sample.results}">
                                                    <td th:text="${iterStat.count}">1</td>
                                                    <td th:text="${result.sample.subject.email}"> Subject Name</td>
                                                    <td th:text="${result.p_value}">X2-value</td>
                                                    <td th:text="${result.low}">Low Value</td>
                                                    <td th:text="${result.high}">High Value</td>
                                                    <td th:text="${result.test.name}">Test Name</td>
                                                    <td th:text="${result.sample.samples}">Sample</td>
                                                </tr>
                                            </tr>

                                        </table>
                                    </div>

                                    <div id="line_top_x"></div>

                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
  </body>
</html>