<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Test</title>
    </head>
    <body>
    	<div layout:fragment="content">
    
    <div class="single-test-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                
                <div class="col-md-offset-2 col-md-8">
                    <div class="test-content-right">
                        <div class="test-breadcroumb">
                            <a href="" th:href="@{/}">Home</a>
                            <a href="" th:href="@{/categories/{name}(name=${test.category.name})}"><span th:text="${subject.category.name}">Category Name</span></a>
                            <a href="" th:href="@{/tests/{name}(name=${test.name})}"><span th:text="${test.name}">TestName</span></a>
                        </div>
                        
                        <div class="row">
                            
                            <div class="col-sm-6">
                                <div class="test-inner">
                                    <h2 class="test-name" th:text="${test.name}">TestName</h2>
                                    
                                    <div>
                                        <button class="analyze_button" type="submit"
                                        		th:onclick="'javascript:analyzeTestResult(\'' + ${test.name} + '\');'">Analyze</button>
                                    </div>   
                                    
                                    <div class="test-inner-category">
                                        <h2>Test Description</h2>
                                        <p th:text="${test.description}">
                                        	Aceste teste analizeaza numere aleatoare din mostrele furnizate<br/>
                                        </p>
                                    </div> 
                                    
                                </div>
                            </div>
                        </div>
                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>

</div>
  </body>
</html>