<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout/mainLayout">
      
      <head>
        <title>Product Search Results</title>
    </head>
    <body>
    	<div layout:fragment="content">
    		<div class="single-subject-area">
		        <div class="zigzag-bottom"></div>
		        <div class="container">
		        	
		            <div class="row">
		            	<div class="woocommerce-info"> 
		            		<span class="">Product Search Results</span>
		                 </div>
		                <div class="col-md-3 col-sm-6" th:each="subject : ${subjects}">
		                    <div class="single-shop-subject">
		                        <div class="subject-upper">
		                            <img src="assets/img/subjects/2.jpg" alt=""
		                            		th:src="@{'/subjects/images/{id}.jpg'(id=${subject.id})}"/>
		                        </div>
		                        <h2><a href="#" th:href="@{/subjects/{email}(email=${subject.email})}"
		                        		th:text="${subject.name}">Product Name</a></h2>
		                        <div class="subject-carousel-price">
		                            <ins th:text="${subject.price}">$9.00</ins>
		                        </div>  
		                        
		                        <div class="subject-option-shop">
		                            <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" 
		                            	rel="nofollow" href="#"
		                            	th:onclick="'javascript:addItemToCart(\'' + ${subject.email} + '\');'">Add to cart</a>
		                        </div>
		                    </div>
		                </div>
		                
		            </div>
		            
		        </div>
		    </div>
    	</div>
    	
    </body>
    
</html>